{% extends 'basic.html' %}

{% block content %}
		<br/>
		<br/>
		<div id="accordion">
			<div class="card">
				<div class="card-header">
					<a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						<b>Smart India Hackathon</b>
					</a>
				</div>
				<div id="collapseOne" class="collapse show">
					<div class="card-body">
						Innovation and entrepreneurship are at the peak in India. In order to make development a comprehensive mass movement and innovate on all fronts, MHRD, AICTE, i4c and Persistent Systems have come together to organise Smart India Hackathon (SIH) 2019 - a unique Open Innovation Model for identifying new and disruptive technology innovations to solve the challenges faced in our country. It's a non-stop product development competition, where problem statements are posed to technology students for innovative solutions. It can help to:

						Harness creativity & expertise of students
						Spark institute-level hackathons
						Build funnel for 'Startup India' campaign
						Crowdsource solutions for improving governance and quality of life
						Provide opportunity to citizens to provide innovative solutions to India's daunting problems
					</div>
				</div>
			</div>
			<div class="card">
	    		<div class="card-header">
			        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						<b>SKF India Ltd</b>
			      	</a>
	    		</div>
	    		<div id="collapseTwo" class="collapse">
		   			<div class="card-body">
				        SKF's roots in India can be traced back to 1923, when a trading arm of SKF Group was set up in Kolkatta. Since then SKF has been serving the Indian market with high quality bearings for over 3 decades. SKF India Ltd was incorporated in the year 1961 as a result of collaboration between AB SKF, Associated Bearing Company limited and Investment Corporation of India Ltd and the first manufacturing plant was commissioned in Pune in the year 1965. 

						Today, with 3 manufacturing facilities located in Pune, Bangalore and Haridwar, with 11 sales offices across India and a supplier network of over 300 distributors, SKF continues to serve the varied markets with reliable solutions. 

						Over the years the company has evolved from being a pioneer ball bearing manufacturing company to a knowledge-driven integrated solutions provider, helping customers achieve sustainable and competitive advantage.   
		    		</div>
	    		</div>
	    	</div>
			<div class="card">
				<div class="card-header">
					<a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					<b>Rainbow1</b>
					</a>
				</div>
				<div id="collapseThree" class="collapse">
			    	<div class="card-body">
						<table class="table table-dark table-striped">
						<thead>
						<tr>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>College</th>
							<th>Team Name</th>
							<th>Role</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Dipayan</td>
							<td>Ray</td>
							<td>DSCSDEC</td>
							<td>Rainbow1</td>
							<td>Team Leader</td>
						</tr>
						<tr>
							<td>Antara</td>
							<td>Mukherjee</td>
							<<td>DSCSDEC</td>
							<td>Rainbow1</td>
							<td>Team Member</td>
						</tr>
						<tr>
							<td>Ankit</td>
							<td>Das</td>
							<td>DSCSDEC</td>
							<td>Rainbow1</td>
							<td>Team Member</td>
						</tr>
						<tr>
							<td>Rijit</td>
							<td>Chakraborti</td>
							<td>DSCSDEC</td>
							<td>Rainbow1</td>
							<td>Team Member</td>
						</tr>
						<tr>
							<td>Akash</td>
							<td>Sinha</td>
							<td>DSCSDEC</td>
							<td>Rainbow1</td>
							<td>Team Member</td>
						</tr>
						<tr>
							<td>Arijit</td>
							<td>Dutta</td>
							<td>DSCSDEC</td>
							<td>Rainbow1</td>
							<td>Team Member</td>
						</tr>
						</tbody>
						</table>
				  </div>
				</div>
			</div>
		</div>
 {% endblock %}